.profile-container {
  max-width: 600px;
  margin: 0 auto;
}

.profile-avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.profile-avatar-large {
  width: 120px;
  height: 120px;
}

.button-container {
  margin-top: 20px;
}

.button-container ion-button {
  margin-bottom: 10px;
}
